@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background:url("/bg-image2.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* use it if backgrount image is brigth */
/* linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), */

